<!-- Snippet for disclaimer of investment related posts -->
<div style="padding-top:0.2rem; margin-bottom:-1rem">
    <i>
    <p style="color: rgba(38, 38, 39, 0.5); font-size: 0.7rem; padding-top:1rem; border-top: 1px solid #eee" </p>
        Disclaimer: This post is strictly for informational purposes only and should not be construed as investment advice or a recommendation to buy or sell any security. The views expressed herein are the author's alone and do not represent views of any organization or employer the author is currently or was previously associated with.
        <a style="color: rgba(38, 38, 39, 0.5);" href="{{ site.url }}/disclaimer">Click here</a> for full disclaimer.    
    </p>
</i>
</div>