---
layout: default
---

<div class="page-head">
  <div class="kicker">Category</div>
  <h1 class="page-title">{{ page.title }}</h1>
  <p class="lede">{{ site.categories[page.category].size }} post{% if site.categories[page.category].size != 1 %}s{% endif %}.</p>
</div>

<div class="post-list">
  {% for post in site.categories[page.category] %}
  <a class="post" href="{{ site.url }}{{ post.url }}">
    <div class="post-meta mono">
      {{ post.date | date: "%b %-d %Y" | upcase }}<br>
      {% assign words = post.content | strip_html | number_of_words %}{{ words | divided_by:200 | at_most:25 }} min<br>
      <span class="cat">{{ post.category }}</span>
    </div>
    <div>
      <div class="post-title">{{ post.title }}</div>
      <div class="post-dek">
        {%- if post.custom_excerpt -%}
          {{ post.custom_excerpt | strip_html | strip }}
        {%- else -%}
          {{ post.excerpt | strip_html | strip }}
        {%- endif -%}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
