---
layout: default
---

<h1 class="post-title-top" align="center">{{ page.title }}</h1>
<hr style="margin-bottom: 2.5rem">
<div class="posts">
  {% for post in site.categories[page.category] %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    
    {%- if post.subtitle -%}
      <div>
        <span class="post-subtitle" title="Subtitle">
          {{post.subtitle}}
        </span>
      </div>
    {%- endif -%}

    <!-- Metadata -->
    <div class="post-meta">
      <p style="margin:.7em;"></p>
      <span style="display: inline" class="post-date" title="Estimated read time">
          {{ post.date | date: "%B %-d, %Y" }} &middot; 
           {% assign words = post.content | strip_html | number_of_words %}{{ words | divided_by:200 | at_most:25 }} min read
       </span>
       &emsp;
           
       <span style="display:inline"><i class="fa-regular fa-folder-open" style="color: #969696; opacity: 0.80"></i>
           {% capture category_name %}{{ post.category }}{% endcapture %}
           <a href="{{ site.url }}/category/{{ category_name }}">{{ category_name}}</a>
      </span>
    </div>
  
  <!-- excerpt -->
  {%- if post.custom_excerpt -%}
    <p style="margin:.5em;"></p>
    {{ post.custom_excerpt| newline_to_br | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | append: "  <a href='" | append: site.url | append: post.url | append: "'>Read more...</a>"| append: "<br /> " }} 
  {%- else -%}
    <p style="margin:.5em;"></p>
    {{ post.excerpt | newline_to_br | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | append: "  <a href='" | append: site.url | append: post.url | append: "'>Read more...</a>"| append: "<br /> " }}
  {%- endif -%}

  </div>
  {% endfor %}
</div>