---
layout: default
---

<div class="post">
  <center>
  <!-- Title -->
  <h1 class="post-title-top">{{ page.title }}</h1>
  <!-- Subtitle -->
  {%- if page.subtitle -%}
    <div>
      <span class="post-subtitle" title="Subtitle">
        {{page.subtitle}}
      </span>
    </div>
  {%- endif -%}
  <!-- Metadata -->
  <div class="post-meta">
    <p style="margin:.6em;"></p>
    {% include post_date_read_time.html %}
    &emsp; 
    <span style="display:inline" class="post-date" title="Estimated read time">[
         {% capture category_name %}{{ page.category }}{% endcapture %}
         <a href="{{site.url}}/category/{{ category_name }}">{{ category_name }}</a>
     ]</span>
  </div>
  <hr>
  </center>
  
  <!-- Content -->
  <span class="post-content">
    {{ content }}
    {%if page.postdisclaimer == true%}
      <div>
        {% include postdisclaimer.html %}
      </div>
    {%endif%}
  </span>
</div>

<!-- Related -->
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% assign nSameTag = site.categories[page.category].size | minus: 1 %}
    {% assign nRelated = 3 | minus: nSameTag %}
    {% for post in site.categories[page.category] limit:4 %}
        {% unless post.url == page.url %}
            <li>
              <h4>
                <a href="{{site.url}}{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date: "%Y-%m-%d"  }}</small>
                </a>
              </h4>
            </li>
        {% endunless %}
    {% endfor %}
    
    {% for post in site.related_posts limit:nRelated %}
      <li>
        <h4>
          <a href="{{site.url}}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: "%Y-%m-%d"  }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Newsletter -->
<div class="newsletter">
  <h2>Subscribe</h2>
  <p>To receive my latest writings via email, subscribe to my Substack newsletter.</p>
  <center>
  <iframe src="https://steveripplinger.substack.com/embed" max-width="100%" height="300" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
  </center>
</div>

<!-- Back to Top -->
<script src="{{site.url}}/assets/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 40,
  backgroundColor: '#152a59',
  textColor: '#fff',
  showWhenScrollTopIs: 2000, // px
})</script>