---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {%- if page.subtitle -%}
    <div>
      <span class="post-subtitle" title="Subtitle">
        {{page.subtitle}}
      </span>
    </div>
  {%- endif -%}
  <div>
    <p style="margin:.7em;"></p>
    {% include post_date_read_time.html %}
    &emsp; 
    <span style="display:inline" class="post-date" title="Estimated read time">[
         {% capture category_name %}{{ page.category }}{% endcapture %}
         <a href="/category/{{ category_name }}">{{ category_name }}</a>
     ]</span>
  </div>
  <br>
  <span style="text-align:justify" class ="post-content">
    {{ content }}
    {%if page.postdisclaimer == true%}
      <div>
        {% include postdisclaimer.html %}
      </div>
    {%endif%}
  </span>
</div>

<div class="related">
  <h3>Related Posts</h3>
  <ul class="related-posts">

    {% assign nSameTag = site.categories[page.category].size | minus: 1 %}
    {% assign nRelated = 3 | minus: nSameTag %}
    {% for post in site.categories[page.category] limit:4 %}
        {% unless post.url == page.url %}
            <li>
              <h4>
                <a href="{{ post.url }}">
                  {{ post.title }}
                  <small>{{ post.date | date_to_string }}</small>
                </a>
              </h4>
            </li>
        {% endunless %}
    {% endfor %}
    
    {% for post in site.related_posts limit:nRelated %}
      <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="newsletter">
  <h3>Subscribe</h3>
  <p>To receive my latest writings via email, subscribe to my Substack newsletter.</p>
  <iframe src="https://steveripplinger.substack.com/embed" width="80%" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</div>